# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [ ]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
weather_dataframe = pd.DataFrame(weather_data)
weather_dataframe

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df= pd.read_csv("/content/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.shape # rows, columns = df.shape

(6, 4)

## <font color='blue'>Rows</font>

In [ ]:
#df.head() 
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
df.tail()

df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

## <font color='blue'>Columns</font>

In [ ]:
df.columns
print(df.columns)

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

Accessing the columns:

In [ ]:
df['day'] # or df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [ ]:
type(df['day'])

pandas.core.series.Series

In [ ]:
# error : for not accessing in 2d format
df['day','temperature']

KeyError: ignored

In [ ]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [ ]:
# we cannot access multiple keys in dictionaries 
weather_dataframe["day","temperature"]

KeyError: ignored

In [ ]:
# we can access multiple items in data frames
weather_dataframe[["day","temperature"]]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

## <font color='blue'>Operations On DataFrame</font>

In [ ]:
df['temperature'].max()

35

In [ ]:
df[df['temperature']>32] # get all rows in date frame where temperature >32

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas getting all values from one condition of the column

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas getting only one column's value

1    1/2/2017
Name: day, dtype: object

In [ ]:
# syntax :  df[colss to be printed][condition in the data frames]
df[["day","temperature"]][df["temperature"]==df["temperature"].max()]

        day  temperature
1  1/2/2017           35

In [ ]:
df['temperature'].std()

3.8297084310253524

In [ ]:
df['event'].max() 
# df["event"].mean() # But mean() won't work since data type is string

'Sunny'

In [ ]:
df["event"].mean() #But mean() won't work since data type is string

TypeError: ignored

In [ ]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [ ]:
df # indexing is the defualt 0 to 5 values

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.set_index('day') # indexing now got changed to the column day

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.set_index('day', inplace=True) # we cannot run the indexing and write the opertaions because the original data frame is not changed we are just changing the display

# for the original dataframe to be changed we can use the syntax inplace=true at the end of the data frame

In [ ]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [ ]:
df.loc['1/2/2017'] # advantage of changing the index is by using the location directly that particular date can be selected and we can get the column values for that particular row

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [ ]:
df.reset_index(inplace=True)  # again to reset the index back
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
df.loc['1/2/2017'] # only after setting index we can access with the loc

KeyError: ignored

In [ ]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [ ]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7