A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**

lambda arguments : expression
The expression is executed and the result is returned:

**Example**
Add 10 to argument a, and return the result:

In [ ]:
x = lambda a : a + 20
print(x(6))

26

Lambda functions can take any number of arguments:

**Example**

Multiply argument a with argument b and return the result:

In [ ]:
x = lambda a, b : a - b
print(x(13, 6))

7

**Example**

Summarize argument a, b, and c and return the result:

In [ ]:
# error
x = lambda a, b : a + b
print(x(5, 6)) 

x = lambda a,b ,c : a + b +c 
print(x(5, 6))

11

TypeError: ignored

**Why Use Lambda Functions?**

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
# use the same function definition to make both functions, in the same program:

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(22))

22
66

**Use lambda functions when an anonymous function is required for a short period of time.**

# ARRAYS :

**Arrays**

Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

In [ ]:
#Create an array containing car names:

cars = ["Ford", "Volvo", "BMW"]

# ALL THE OPERATIONS IN ARRAYS ARE SAME AS IN LISTS BUT FOR SOME EXTRA OPERATIONS WE NEED TO IMPORT OTHER LIBRARIES WHCIH CAN BE SEEN IN NEXT NOTEBOOKS